* {
  text-align: center
}

a {
  color: #8be9fd;
}

body {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "Verdana";
}

table {
  border: 1px;
}

th {
  background-color: #f8f8f2;
  border: 1px dashed black;
  padding: 4px;
}
